GetBaffFramework.framework filter=lfs diff=lfs merge=lfs -text
GetBaffFramework.framework/GetBaffFramework filter=lfs diff=lfs merge=lfs -text
GetBaffFramework.framework/**/* filter=lfs diff=lfs merge=lfs -text
